/* 
 * DESIGN SYSTEM V1
 *
 * Recommended to be used with normalize.css:
 * https://necolas.github.io/normalize.css/
 *
 * Uses Roboto-400 from Google
*/

:root {
  /* * Color styles */
  --clr-primary-100: #e8defd;
  --clr-primary-200: #d1befb;
  --clr-primary-300: #b99dfa;
  --clr-primary-400: #a27df8;
  --clr-primary-500: #8b5cf6;
  --clr-primary-600: #5d1cf2;
  --clr-primary-700: #420bc0;
  --clr-primary-800: #2c0780;
  --clr-primary-900: #160440;
  --clr-secondary-100: #fff5cb;
  --clr-secondary-200: #ffec97;
  --clr-secondary-300: #fee462;
  --clr-secondary-400: #fedb2e;
  --clr-secondary-500: #f7ce01;
  --clr-secondary-600: #c6a201;
  --clr-secondary-700: #947901;
  --clr-secondary-800: #635300;
  --clr-secondary-900: #312900;
  --clr-tertiary-100: #ffe9dc;
  --clr-tertiary-200: #ffd4b9;
  --clr-tertiary-300: #ffbe95;
  --clr-tertiary-400: #ffa972;
  --clr-tertiary-500: #ff934f;
  --clr-tertiary-600: #ff6a0c;
  --clr-tertiary-700: #c84d00;
  --clr-tertiary-800: #863400;
  --clr-tertiary-900: #431a00;
  --clr-gray-50: #fafafa;
  --clr-gray-100: #f6f6f6;
  --clr-gray-200: #dbdbdb;
  --clr-gray-300: #bfbfbf;
  --clr-gray-400: #a4a4a4;
  --clr-gray-500: #898989;
  --clr-gray-600: #6d6d6d;
  --clr-gray-700: #525252;
  --clr-gray-800: #373737;
  --clr-gray-900: #1b1b1b;
  --clr-slate-50: #f8fafc;
  --clr-slate-100: #f1f5f9;
  --clr-slate-200: #e2e8f0;
  --clr-slate-300: #cbd5e1;
  --clr-slate-400: #94a3b8;
  --clr-slate-500: #64748b;
  --clr-slate-600: #475569;
  --clr-slate-700: #334155;
  --clr-slate-800: #1e293b;
  --clr-slate-900: #0f172a;
  /* --clr-source-primary: #8b5cf6;
  --clr-source-secondary: #f7ce01;
  --clr-source-tertiary: #ff934f;
  --clr-source-white: #f6f6f6;
  --clr-source-black: #1b1b1b;
  --clr-source-slate: #334155;
  --clr-source-success: #79c115;
  --clr-source-info: #3eb8e8;
  --clr-source-warning: #ffdb3f;
  --clr-source-error: #ff4528; */
  --clr-success-100: #e5f9ca;
  --clr-success-200: #ccf394;
  --clr-success-300: #b2ee5f;
  --clr-success-400: #98e829;
  --clr-success-500: #79c115;
  --clr-success-600: #619a11;
  --clr-success-700: #49740d;
  --clr-success-800: #304d08;
  --clr-success-900: #182704;
  --clr-info-100: #d8f1fa;
  --clr-info-200: #b2e3f6;
  --clr-info-300: #8bd4f1;
  --clr-info-400: #65c6ed;
  --clr-info-500: #3eb8e8;
  --clr-info-600: #199ed2;
  --clr-info-700: #13769e;
  --clr-info-800: #0d4f69;
  --clr-info-900: #062735;
  --clr-warning-100: #fff8d9;
  --clr-warning-200: #fff1b2;
  --clr-warning-300: #ffe98c;
  --clr-warning-400: #ffe265;
  --clr-warning-500: #ffdb3f;
  --clr-warning-600: #fecf00;
  --clr-warning-700: #bf9b00;
  --clr-warning-800: #7f6700;
  --clr-warning-900: #403400;
  --clr-error-100: #ffdad4;
  --clr-error-200: #ffb5a9;
  --clr-error-300: #ff8f7e;
  --clr-error-400: #ff6a53;
  --clr-error-500: #ff4528;
  --clr-error-600: #ec2000;
  --clr-error-700: #b11800;
  --clr-error-800: #761000;
  --clr-error-900: #3b0800;

  /* Font styles */
  --font-family-primary: "Roboto", sans-serif;

  /* Font sizes */
  --fs-display-xl: 4.25rem;
  --fs-display: 3.56rem;
  --fs-heading-1: 3rem;
  --fs-heading-2: 2.5rem;
  --fs-heading-3: 2.06rem;
  --fs-heading-4: 1.75rem;
  --fs-heading-5: 1.44rem;
  --fs-heading-6: 1.44rem;

  --fs-paragraph-large: 1.19rem;
  --fs-paragraph-normal: 1rem;

  --fs-subtitle-normal: 1rem;
  --fs-subtitle-small: 0.88rem;
  --fs-caption: 0.81rem;

  --fs-btn-xl: 1.19rem;
  --fs-btn-large: 1rem;
  --fs-btn-normal: 0.88rem;
  --fs-btn-small: 0.75rem;
  --fs-btn-tiny: 0.62rem;
  --fs-label: 0.75rem;

  /* Font weights */
  --fw-extra-bold: 800;
  --fw-bold: bold;
  --fw-medium: 500;

  /* Line heights */
  /* This is simplified from the original design system, and 
     contains as few variables as possible. */
  --lh-display: 1.18;
  --lh-heading: 1.25;
  --lh-subtitle: 1.2;
  --lh-paragraph: 1.5;
  --lh-caption: 1.25;
  --lh-label: 1.33;
  --lh-btn-large: 1;
  --lh-btn-normal: 1.14;
  --lh-btn-small: 1.33;
  --lh-btn-tiny: 1.6;

  /* Letter spacing */
  --ls-subtitle: 0.015em;
  --ls-label: 0.05em;
  --ls-btn: 0.05em;
  --ls-btn-xl: 0.025em;
}

/* * base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: var(--font-family-primary);
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* * font classes */
/* !! Some base styles are defined here !! */
.text-dxl {
  font-size: var(--fs-display-xl);
  line-height: var(--lh-display);
  font-weight: var(--fw-extra-bold);
}

.text-d {
  font-size: var(--fs-display);
  line-height: var(--lh-display);
  font-weight: var(--fw-extra-bold);
}

/* h1-h6 tags are not styled by default due to */
/* a difference in semantic meaning vs style */

.text-h1 {
  font-size: var(--fs-heading-1);
  line-height: var(--lh-heading);
  font-weight: var(--fw-extra-bold);
}

.text-h2 {
  font-size: var(--fs-heading-2);
  line-height: var(--lh-heading);
  font-weight: var(--fw-extra-bold);
}

.text-h3 {
  font-size: var(--fs-heading-3);
  line-height: var(--lh-heading);
  font-weight: var(--fw-bold);
}

.text-h4 {
  font-size: var(--fs-heading-4);
  line-height: var(--lh-heading);
  font-weight: var(--fw-bold);
}

.text-h5 {
  font-size: var(--fs-heading-5);
  line-height: var(--lh-heading);
  font-weight: var(--fw-bold);
}

.text-h6 {
  font-size: var(--fs-heading-6);
  line-height: var(--lh-heading);
  font-weight: var(--fw-medium);
}

.text-sub {
  font-size: var(--fs-subtitle-normal);
  line-height: var(--lh-subtitle);
  font-weight: normal;
  letter-spacing: var(--ls-subtitle);
}

.text-sub-sm {
  font-size: var(--fs-subtitle-small);
  line-height: var(--lh-subtitle);
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-subtitle);
}

/* ! BASE STYLE DEFINITION */
p,
.text-p {
  font-size: var(--fs-paragraph-normal);
  line-height: var(--lh-paragraph);
  font-weight: normal;
}

.text-p-lg {
  font-size: var(--fs-paragraph-large);
  line-height: var(--lh-paragraph);
  font-weight: normal;
}

.text-cap {
  font-size: var(--fs-caption);
  line-height: var(--lh-caption);
  font-weight: normal;
}

.text-lbl {
  font-size: var(--fs-label);
  line-height: var(--lh-label);
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-label);
}

/* ! BASE STYLE DEFINITION */
button,
.btn,
.text-btn {
  font-size: var(--fs-btn-normal);
  line-height: var(--lh-btn-normal);
  font-weight: var(--fw-bold);
  letter-spacing: var(--ls-btn);
}

.text-btn-sm {
  font-size: var(--fs-btn-small);
  line-height: var(--lh-btn-small);
  font-weight: var(--fw-bold);
  letter-spacing: var(--ls-btn);
}

.text-btn-xs {
  font-size: var(--fs-btn-tiny);
  line-height: var(--lh-btn-tiny);
  font-weight: var(--fw-bold);
  letter-spacing: var(--ls-btn);
}

.text-btn-lg {
  font-size: var(--fs-btn-large);
  line-height: var(--lh-btn-large);
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-btn);
}

.text-btn-xl {
  font-size: var(--fs-btn-xl);
  line-height: var(--lh-btn-large);
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-btn-xl);
}

/* * utility classes */
.slab {
  font-family: "Roboto Slab", serif;
}

.mono {
  font-family: "Roboto Mono", monospace;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}
